.error404 {
    margin-top: 160px;
    margin-bottom: 160px;
    h1 {
        font-weight: $fwBold;
        padding-bottom: 24px;
        font-size: $fzh1Error;
        color: $mainbgColor;
    }
    h2 {
        font-weight: $fwNavbar;
        padding-bottom: 24px;
        font-size: $fzh2Error;
    }
    h3 {
        font-weight: $fwHeader;
        padding-bottom: 12px;
        font-size: $fzh3Error;
    }
    h4 {
        font-weight: $fwH4error;
        padding-bottom: 6px;
        font-size: $fzh3Error;
    }
    h5 {
        padding-top: 75px;
        font-size: $fznbfooter;
        font-weight: $fwHeader;
        a {
            text-decoration: underline;
            color: $buttomgreenColor;
        }
    }
}