/* navbar */

.navbarTravesia {
    list-style: none;
    .nav-item{
        .nav-link{
            color:$whiteColor;
            text-decoration: none;
            font-size: $fzNavBar;
            font-weight: $fwNavbar;
        }
        .nav-link:hover {
            color: $hoverColor;
        }
    }
}