@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&display=swap');
/*COLORES*/
$mainbgColor: #056564;
$whiteColor: #FFFFFF;
$hoverColor: #c4ead2;
$iconsColor: #0077aa;
$buttomgreenColor: #0a572f;
$blackColor: #333333;
$bgGreenMintColor: #d9edf6;
$bgValorCards: #1fa2aa;


/*FUENTES*/
$secondFont: "Protest Riot", sans-serif;
$mainFont: "Poppins", sans-serif;

/*FONT SIZE*/
$fzHeader: 24px;
$fzNavBar: 1.5rem;
$fzpfooter: 14px;
$fznbfooter: 1rem;
$fzIcons: 16px;
$fzCarrusel: 18px;
$fzMini: 12px;
$fzCarruselH5: 32px;
$fzh1Error: 3rem;
$fzh2Error: 2rem;
$fzh3Error: 1.5rem;

/*FONT WEIGHT*/
$fwHeader: 400;
$fwNavbar: 600;
$fwBold: bold;
$fwH4error: 300;
